<header>
  <div class="logo__title">
    <img class="logo__img" src="../assets/Book.ico">
    <!-- <span class="information">ToReadList</span> -->
    <a mat-button class="information main__page" href="/">ToReadList</a>
  </div>
  <span>Read them all!</span>

  <div class="links">
    <a class="link" mat-button href="/books">Catalog of books</a>
    <a class="link" mat-button href="/authors">Catalog of authors</a>
    <a class="link" mat-button href="/genres">Catalog of genres</a>
  </div>

  <div class="profile__links">
    <a class="link" mat-button href="/sign_in">Sign in</a>
    <a class="link" mat-button href="/sign_up">Sign up</a>
  </div>
</header>