<div class="wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="main">
    <div class="table">
      <a class="link" href="/admin/edit_books">
        <h1>Book's catalog</h1>
      </a>
    </div>
    <div class="table">
      <a class="link" href="/admin/edit_authors">
        <h1>Author's catalog</h1>
      </a>
    </div>
    <div class="table">
      <a class="link" href="/admin/edit_genres">
        <h1>Genre's catalog</h1>
      </a>
    </div>
  </div>

  <app-footer></app-footer>
</div>