<div class="wrapper">
  <app-header></app-header>

  <div class="main">
    <div class="search">
      <input class="search__input" matInput type="text" placeholder="Search..." />
      <button class="search__btn" (click)="search()" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <p style="font-weight: bold; color: red;">Books catalog!</p>
    <!-- <ul>
      <li *ngFor="let book of books">{{ book }}</li>
    </ul> -->
    <app-book-item class="book__item" *ngFor="let book of books" [bookItem]="book"></app-book-item>
  </div>

  <app-footer></app-footer>
</div>