<div class="wrapper">
  <app-header></app-header>

  <div class="main">
    <div class="search">
      <mat-form-field>
        <input matInput class=" search__field" (keypress)="pressEnter($event)" #search_request type="text"
          placeholder="Search" />
        <mat-icon class="search__btn" matSuffix (click)="search(search_request.value)">search</mat-icon>
      </mat-form-field>
    </div>

    <!-- <ul class="items">
      <li class="item__wrapper" *ngFor="let book of books">
        <div class="item">
          <a [routerLink]="['/book-details', book.id_book]">{{ book.title_book }}</a>
          <br>
          <a href="http://readly.ru{{ book.url_book }}">http://readly.ru{{ book.url_book }}</a>
        </div>
      </li>
    </ul> -->

    <ul class="items">
      <li class="item__wrapper" *ngFor="let book of books">
        <div class="item">
          <!-- <a [routerLink]="['/book-details', book.id_book]">{{ book.title_book }} (by {{ book.authors[0].fullName }})</a> -->
          <a [routerLink]="['/book-details', book.id_book]">{{ book.title_book }}</a>
          <div class="item__photo">
            <img src="http://readly.ru{{ book.image_url }}" alt="">
          </div>
        </div>
      </li>
    </ul>
  </div>

  <app-footer></app-footer>
</div>