<div class="wrapper">
  <app-header></app-header>

  <div class="main">
    <div class="search">
      <input class="search__input" type="text" #search_request_1 placeholder="Search..." />
      <button class="search__btn" (click)="search(search_request_1.value)" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="another__search">
      <mat-form-field>
        <input matInput class=" search__field" #search_request type="text" placeholder="Search" />
        <mat-icon class="btn__search" matSuffix (click)="search(search_request.value)">search</mat-icon>
      </mat-form-field>
    </div>

    <p style="font-weight: bold; color: red;">Books catalog!</p>
    <!-- <ul>
      <li *ngFor="let book of books">{{ book }}</li>
    </ul> -->
    <app-book-item class="book__item" *ngFor="let book of books" [bookItem]="book"></app-book-item>
  </div>

  <app-footer></app-footer>
</div>