.wrapper {
    width: 100%;
    height: 100vh;
    /* background-image: url('../../assets/404-Not-Found.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}