<header>
  <div class="logo__title">
    <img class="logo__img" src="../assets/Book.ico">
    <!-- <span class="information">ToReadList</span> -->
    <a mat-button class="information main__page" href="/">ToReadList</a>
  </div>
  <span>{{ motivation }}</span>

  <div class="links">
    <a class="link" mat-button href="/books">{{ booksCatalog }}</a>
    <a class="link" mat-button href="/authors">{{ authorsCatalog }}</a>
    <a class="link" mat-button href="/genres">{{ genresCatalog }}</a>
    <a class="link" mat-button href="/series">{{ seriesCatalog }}</a>
  </div>

  <div class="profile__links">
    <a class="link" mat-button href="/sign_in">{{ signIn }}</a>
    <a class="link" mat-button href="/sign_up">{{ signUp }}</a>
  </div>
</header>