<header>
  <div class="logo__title">
    <img class="logo__img" src="../assets/Book.ico">
    <a mat-button class="main__page" href="/">ToReadList</a>
  </div>
  <span>{{ motivation }}</span>

  <div>
    <a class="link" mat-button href="/books">{{ booksCatalog }}</a>
    <a class="link" mat-button href="/authors">{{ authorsCatalog }}</a>
    <a class="link" mat-button href="/genres">{{ genresCatalog }}</a>
    <a class="link" mat-button href="/series">{{ seriesCatalog }}</a>
  </div>

  <div>
    <div *ngIf="isToken; then isAuthUser else notAuthUser"></div>
    <ng-template #notAuthUser>
      <a class="link" mat-button href="/sign_in">{{ signIn }}</a>
      <a class="link" mat-button href="/sign_up">{{ signUp }}</a>
    </ng-template>
    <ng-template #isAuthUser>
      <a class="link" mat-button href="/user/profile">{{ signIn }}</a>
      <button class="link" mat-button (click)="signOut()">{{ signUp }}</button>
    </ng-template>
  </div>
</header>