<div class="wrapper">
  <app-header></app-header>

  <div class="main">
    <h1>User's Profile:</h1>

    <div class="containers">
      <div *ngIf="isEditing; then editing_mode; else reading_mode"></div>
      <ng-template #editing_mode>
        <mat-card>
          <mat-card-title>User's Profile Information</mat-card-title>
          <mat-form-field>
            <input matInput type="text" placeholder="Nickname" #nickname value="{{ profileInformation.nickname }}" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="First name" #first_name
              value="{{ profileInformation.first_name }}" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Last name" #last_name value="{{ profileInformation.last_name }}" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Phone" #phone value="{{ profileInformation.phone }}" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="E-mail" #email value="{{ profileInformation.email }}" />
          </mat-form-field>
          <button mat-raised-button class="save__btn"
            (click)="saveInformation(nickname.value, first_name.value, last_name.value, phone.value, email.value)">
            Save changes</button>
        </mat-card>
      </ng-template>
      <ng-template #reading_mode>
        <mat-card>
          <mat-card-title>User's Profile Information</mat-card-title>
          <mat-form-field>
            <input matInput type="text" placeholder="Nickname" readonly value="{{ profileInformation.nickname }}" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="First name" readonly value="{{ profileInformation.first_name }}" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Last name" readonly value="{{ profileInformation.last_name }}" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Phone" readonly value="{{ profileInformation.phone }}" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="E-mail" readonly value="{{ profileInformation.email }}" />
          </mat-form-field>
          <button mat-raised-button class="edit__btn" (click)="editInformation()">Edit information</button>
        </mat-card>
      </ng-template>

      <div class="favourite">
        <h1>Your favourite literature:</h1>
        <a mat-raised-button href="/favourite_books">
          <mat-icon>stars</mat-icon> Favourite books
        </a>
        <a mat-raised-button href="/favourite_authors">
          <mat-icon>stars</mat-icon> Favourite authors
        </a>
        <a mat-raised-button href="/favourite_genres">
          <mat-icon>stars</mat-icon> Favourite genres
        </a>
        <a mat-raised-button href="/favourite_series">
          <mat-icon>stars</mat-icon> Favourite series
        </a>
      </div>

      <div *ngIf="isChanging; then changing_mode; else simple_mode"></div>
      <ng-template #changing_mode>
        <mat-card class="change__field">
          <mat-card-title>Change Password Field</mat-card-title>
          <mat-form-field>
            <input matInput type="password" placeholder="Old password" #old_password />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="New password" #new_password />
          </mat-form-field>
          <button mat-raised-button class="save__btn" (click)="changePassword(old_password.value, new_password.value)">
            Save changes</button>
        </mat-card>
      </ng-template>
      <ng-template #simple_mode>
        <mat-card class="change__field">
          <mat-card-title>Change Password Field</mat-card-title>
          <button mat-raised-button class="edit__btn" (click)="changePassword('', '')">Change password</button>
        </mat-card>
      </ng-template>

    </div>
  </div>

  <app-footer></app-footer>
</div>