<app-header></app-header>

<div class="main">
  <h1 class="welcome__title">
    Welcome to {{ title }}!
  </h1>

  <div class="functions">
    <p>This service can help you:</p>
    <ul>
      <li>To search books using titles, authors, genres</li>
      <li>To search books using keywords in annotation</li>
      <li>To create list of your favourite books</li>
      <li>To create list of your favourite authors</li>
      <li>To create list of your favourite genres</li>
    </ul>
  </div>

  <div class="img__wrapper">
    <img src="../assets/book_logo.jpg" alt="">
  </div>

  <br>
</div>

<app-footer></app-footer>