<div class="wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="main">
    <h1>Choose the catalog for editing:</h1>

    <div class="tables">
      <div class="table">
        <a class="link" href="/admin/edit_books">
          <h1>Book's catalog</h1>
        </a>
        <img src="./../../../../assets/logo_books.jpg" alt="">
      </div>
      <div class="table">
        <img src="./../../../../assets/logo_authors.jpg" alt="">
        <a class="link" href="/admin/edit_authors">
          <h1>Author's catalog</h1>
        </a>
      </div>
      <div class="table">
        <img src="./../../../../assets/logo_genres.jpg" alt="">
        <a class="link" href="/admin/edit_genres">
          <h1>Genre's catalog</h1>
        </a>
      </div>
      <div class="table">
        <img src="./../../../../assets/logo_book_series.jpg" alt="">
        <a class="link" href="/admin/edit_series">
          <h1>Book serie's catalog</h1>
        </a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>