<header>
    <div class="logo__title">
        <img class="logo__img" src="../assets/Book.ico">
        <a mat-button class="main__page" href="/admin/main_page">ToReadList</a>
    </div>

    <!-- <div class="links">
        <a class="link" mat-button href="/edit_books">Edit book's catalog</a>
        <a class="link" mat-button href="/edit_authors">Edit author's catalog</a>
        <a class="link" mat-button href="/edit_genres">Edit genre's catalog</a>
    </div> -->

    <div>
        <a class="link" mat-button href="/admin/editing_mode">Editing mode</a>
    </div>

    <!-- <div>
        <select name="" id="">
            <option value="Edit book's catalog">
                <a href="/edit_books">Edit book's catalog</a>
            </option>
        </select>
    </div> -->

    <div>
        <a class="link" mat-button href="/admin/profile">Profile</a>
        <a class="link" mat-button href="/admin/sign_in">Sign out</a>
    </div>
</header>