<div class="wrapper">
  <!-- <div class="background"></div> -->
  <div>
    <a mat-button class="link" href="/">ToReadList</a>
  </div>
  <mat-card>
    <form>
      <div class="title">
        <mat-card-title>Sign Up for ToReadList</mat-card-title>
      </div>
      <br>
      <mat-form-field>
        <label for="">Surname:</label>
        <input matInput required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label for="">Name:</label>
        <input matInput required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label for="">Login:</label>
        <input matInput required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label for="">Password:</label>
        <input matInput required>
      </mat-form-field>
      <br>
      <button mat-raised-button (click)="register()">Sign Up</button>

      <br>

      <div class="signIn">
        <span>
          Already a member?
          <a href="/sign_in">Sign in</a>
        </span>
      </div>
    </form>
  </mat-card>
</div>