<div class="wrapper">
  <app-header></app-header>

  <div class="main">
    <div class="search">
      <input class="search__input" type="text" placeholder="Search..." />
      <button class="search__btn" (click)="search()" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <p style="font-weight: bold; color: red;">Authors catalog!</p>
    <!-- <ul>
      <li *ngFor="let author of authors">{{ author }}</li>
    </ul> -->
    <app-author-item class="author__item" *ngFor="let author of authors" [authorItem]="author"></app-author-item>
  </div>

  <app-footer></app-footer>
</div>