<div class="wrapper">
  <app-header></app-header>

  <div class="main">
    <blockquote class="catalog__name">AUTHOR'S CATALOG</blockquote>

    <div class="search">
      <mat-form-field>
        <input matInput class=" search__field" (keypress)="pressEnter($event)" #search_request type="text"
          placeholder="Search" />
        <mat-icon class="search__btn" matSuffix (click)="search(search_request.value)">search</mat-icon>
      </mat-form-field>
    </div>

    <ul class="items">
      <li class="item__wrapper" *ngFor="let author of authors">
        <div class="item">
          <a [routerLink]="['/author-details', author.id_author]">{{ author.full_name }}</a>
          <div class="item__photo">
            <img src="{{ author.image_url }}" alt="">
          </div>
        </div>
      </li>
    </ul>
  </div>

  <app-footer></app-footer>
</div>