.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo,
.form {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

mat-card {
    margin: auto;
    width: 90%;
    max-width: 500px;
    height: 300px;
    display: flex;
    align-items: stretch;
}

.title {
    text-align: center;
}

mat-card-title {
    font-weight: bold;
}

input {
    font-size: 14px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

button:hover {
    background-color: rgb(214, 214, 206);
    color: black;
    transition: all 0.5s ease-out;
}

.link {
    margin: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

a:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease-out;
}