.main {
    min-height: calc(100vh - 2*50px); 
}

.item {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title {
    text-align: center;
}

.title > h1 {
    margin-top: 0;
}

.entity__name {
    margin: 0;
    color: darkgray;
}

.information {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image {
    margin: 20px;
}

label {
    font-weight: bold;
}

span,
a,
p {
    font-weight: normal;
}

.relation__block {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.relation__block > div {
    display: flex;
    flex-direction: column;
}

.rel__title {
    margin: 0;
    text-align: center;
}

/* buttons "Add to favourite" and "Delete from favourite" */

.favourite__block {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__wrapper > button {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.like__btn {
    display: flex;
    align-items: center;
    color: crimson;
    box-shadow: 0 0 10px rgba(247, 20, 20, 0.5);
    font-size: 20px;
}
