/* MATERIAL SEARCH */

.search {
    margin: 20px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search > mat-form-field {
    width: 50%;
}

.search__field {
    width: 100%;
}

.search__btn:hover {
    cursor: pointer;
}