.search {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search__input {
    width: 50%;
}

.search__input,
.search__btn {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.search__btn {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__btn:hover {
    cursor: pointer;
}

/* MATERIAL SEARCH */

.another__search {
    margin: 20px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.another__search > mat-form-field {
    width: 50%;
}

.search__field {
    width: 100%;
}

.btn__search:hover {
    cursor: pointer;
}