<div class="wrapper">
  <app-header></app-header>

  <div class="main">
    <div class="item">
      <mat-card>
        <div class="information">
          <div class="image">
            <img src="{{ authorItem.image_url }}" alt="">
          </div>

          <div class="fields">
            <div class="title">
              <blockquote class="entity__name">AUTHOR</blockquote>
              <h1>{{ authorItem.full_name }}</h1>
            </div>
            <label for="">Original name: <span>{{ authorItem.full_name_orig }}</span></label>
            <label for="">Url: <a href="{{ authorItem.url_author }}">{{ authorItem.url_author }}</a></label>
          </div>
        </div>
      </mat-card>

      <div class="favourite__block">
        <div *ngIf="favourite == false; then like_block; else dislike_block"></div>
        <ng-template #like_block>
          <div class="btn__wrapper">
            <button class="like__btn" mat-raised-button (click)="updateFavouriteAuthors()">
              <mat-icon>star_border</mat-icon>
              <span>Add to favourite</span>
            </button>
          </div>
        </ng-template>
        <ng-template #dislike_block>
          <div class="btn__wrapper">
            <button class="like__btn" mat-raised-button (click)="updateFavouriteAuthors()">
              <mat-icon>star</mat-icon>
              <span>Delete from favourite</span>
            </button>
          </div>
        </ng-template>
      </div>

      <div class="relation__block">
        <div>
          <h3 class="rel__title">Genres:</h3>
          <ul>
            <li *ngFor="let genre of genres"><a href="/genre-details/{{ genre.id_genre }}">{{ genre.title_genre }}</a>
          </ul>
        </div>
        <div>
          <h3 class="rel__title">Books:</h3>
          <ul>
            <li *ngFor="let book of books"><a href="/book-details/{{ book.id_book }}">{{ book.title_book }}</a></li>
          </ul>
        </div>
        <div>
          <h3 class="rel__title">Series:</h3>
          <ul>
            <li *ngFor="let serie of series"><a href="/serie-details/{{ serie.id_serie }}">{{ serie.title_serie }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>