<div class="wrapper">
  <app-header></app-header>

  <div class="main">
    <div class="item">
      <mat-card>
        <div class="title">
          <blockquote class="entity__name">BOOK</blockquote>
          <h1>{{ bookItem.title_book }}</h1>
        </div>
        <div class="information">
          <div class="image">
            <img src="{{ bookItem.image_url }}" alt="">
          </div>

          <div class="fields">
            <label>Url: <a href="{{ bookItem.url_book }}">
                {{ beginOfUrl }}{{ bookItem.url_book }}</a></label>
            <label for="" *ngIf="bookItem.id_serie != null; else serieIsNull">Serie:
              <a href="/serie-details/{{ bookItem.id_serie }}">{{ serie.title_serie }}</a>
            </label>
            <ng-template #serieIsNull><label for="">Serie: <span>none</span></label></ng-template>
            <!-- <label for="">Authors: <ul>
                <li *ngFor="let author of bookItem.authors"><a href="{{ author.url }}">{{ author.fullName }}</a></li>
              </ul></label>
            <label for="">Genres: <ul>
                <li *ngFor="let genre of bookItem.genres"><a href="{{ genre.url }}">{{ genre.title }}</a></li>
              </ul></label> -->
            <label for="">Year: <span>{{ bookItem.year }}</span></label>
            <label for="">Rating: <span>{{ bookItem.rating }}</span></label>
            <label for="">Description: <p>{{ bookItem.description }}</p></label>
          </div>
        </div>

        <!-- <div class="field">
              <h3>Serie: </h3>
              <span>{{ bookItem.serie }}</span>
            </div> -->
        <!-- <div class="field">
              <h3>Authors: </h3>
              <ul>
                <li *ngFor="let author of bookItem.authors">{{ author.fullName }} -
                  <a href="{{ author.url }}">{{ author.url }}</a></li>
              </ul>
            </div> -->
        <!-- <div class="field">
              <h3>Genres: </h3>
              <ul>
                <li *ngFor="let genre of bookItem.genres">{{ genre.title }} - {{ genre.url }}</li>
              </ul>
            </div> -->
        <!-- <div class="field">
              <h3>Year: </h3>
              <span>{{ bookItem.year }}</span>
            </div>
            <div class="field">
              <h3>Rating: </h3>
              <span>{{ bookItem.rating }}</span>
            </div>
            <div class="field">
              <h3>Description: </h3>
              <p>{{ bookItem.description }}</p>
            </div> -->
      </mat-card>

      <div class="relation__block">
        <div class="authors">
          <h3>Authors:</h3>
          <ul>
            <!-- <li *ngFor="let author of authors"><a href="{{ author.url_author }}">{{ author.full_name }}</a></li> -->
            <li *ngFor="let author of authors"><a
                href="/author-details/{{ author.id_author }}">{{ author.full_name }}</a></li>
          </ul>
        </div>
        <div class="genres">
          <h3>Genres:</h3>
          <ul>
            <!-- <li *ngFor="let genre of genres"><a href="{{ genre.url_genre }}">{{ genre.title_genre }}</a></li> -->
            <li *ngFor="let genre of genres"><a href="/genre-details/{{ genre.id_genre }}">{{ genre.title_genre }}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <!-- <div class="item">
      <mat-card>
        <div class="title">
          <blockquote class="entity__name">BOOK</blockquote>
          <h1>{{ bookItem.title_book }}</h1>
        </div>
        <div class="information">
          <div class="image">
            <img src="http://readly.ru{{ bookItem.image_url }}" alt="">
          </div>
          <div class="fields">
            <label for="">Url: <a
                href="http://readly.ru{{ bookItem.url_book }}">readly.ru{{ bookItem.url_book }}</a></label>
            <label for="">Year: <span>{{ bookItem.year }}</span></label>
            <label for="">Rating: <span>{{ bookItem.rating }}</span></label>
            <label for="">Description: <p>{{ bookItem.description }}</p></label>
          </div>
        </div>
      </mat-card>
    </div> -->
  </div>

  <app-footer></app-footer>
</div>