@import './../../../../shared/styles/catalog.css';

.main {
    height: calc(100vh - 2*50px);
}

.item {
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

mat-card {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.information {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    font-weight: bold;
}

span,
a,
p {
    font-weight: normal;
}

/* .field {
    margin: 0;
    display: flex;
    align-items: center;
} */