/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

* {
    font-family: 'Times New Roman', Times, serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: cursive; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}