<div class="wrapper">
  <app-header></app-header>

  <div class="main">
    <div class="item">
      <mat-card>
        <div class="title">
          <blockquote class="entity__name">BOOK SERIES</blockquote>
          <h1>{{ serieItem.title_serie }}</h1>
        </div>
        <div class="information">
          <div class="fields">
            <label for="">Url: <a href="{{ serieItem.url_serie }}">{{ serieItem.url_serie }}</a></label>
            <label for="">Description: <p>{{ serieItem.description }}</p></label>
          </div>
        </div>
      </mat-card>

      <div class="relation__block">
        <div>
          <h3>Authors:</h3>
          <ul>
            <li *ngFor="let author of authors"><a
                href="/author-details/{{ author.id_author }}">{{ author.full_name }}</a>
          </ul>
        </div>
        <div>
          <h3>Books:</h3>
          <ul>
            <li *ngFor="let book of books"><a href="/book-details/{{ book.id_book }}">{{ book.title_book }}</a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>